<style>
.checkbox-inline{
    
	}
	.iconbar{
	position:fixed;
	width:25%;
	float:right;
	top:0px;
	left:0px;
	
	display:block;
		position:relative;
		cursor: all-scroll;
	    border: #585858;
		border-style: solid;
		border-width: 2px;
		border-radius: 6PX;
	    background-image: url('assets/img/drag.png');
		color: black;
		background-size: 10%;
		background-repeat: no-repeat;
		background-position: top right; 
		background-position-y: 10px;
		max-height:300px;
		/*overflow-y:auto;*/
	}
	
	.checkboxList{
	max-height:1000px;
	display:block;
	overflow-y:auto;
	}
</style>
<div   ng-cloak="" class="buttondemoBasicUsage" >
	<section  ng-show="operation_in_progress" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		<label>Operation in progress - please wait</label>
	</section>
	<section  layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		<h2> Turnstile Control</h2>
		<md-button ng-click="open_turnstile(0,'BMAG')" class="md-raised">Open</md-button>
		
		<select id="command"  ng-model="command" >
			<option selected value="G2:01">G2:01</option>
			<option  value="1"></option>
		</select>
	<md-button ng-click="test_ticket(0,'BMAG')" class="md-raised">Test</md-button>
		<input  type="text" id="number"  ng-model="test_ticket" value="7" placeholder="test a ticket code">
		<div ng-init="venue=venue"></div>
		<input ng-model="venue"   type="radio"  value="MSHED">M SHED<br>
		<input ng-model="venue"   type="radio"   value="BMAG">BMAG<br>
	</section>
</div>
<div class="alert alert-danger" value="{{message}}" > {{ messages }} </div>