<style>


h2 {
	color: #AAAAAA;
	font-weight: normal;
}

.containerx ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
    height: 90px;
	border-bottom: 1px solid #111111;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
left:50px;
  margin:20px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid black;
}

input[type=radio]:checked ~ .check::before{
  background:black;
}

input[type=radio]:checked ~ label{
  color: black;
}



</style>
{{to.label}}
<div class="containerx">
<ul ng-repeat="(key, option) in to.options" ng-class="{ 'radio': !to.inline, 'radio-inline': to.inline }">
 <li>
<input type="radio"
             id="{{id + '_'+ $index}}"
             tabindex="0"
			 name="selector"
             ng-value="option[to.valueProp || 'value']"
             ng-model="model[options.key]">
    <label for="{{id + '_'+ $index}}">{{option[to.labelProp || 'name']}}</label>    
    <div class="check"></div>
  </li>
</ul>
</div>
	

