
<div class="col-lg-9" id="pie-chartx" >
         <div class="panel-body">
			 
				<div class="panel">
			
					 <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"
					</canvas> 
				</div> 	
			</div>  		
   </div>    
</div>

<div class="col-lg-9" id="pie-chartx" >
         <div class="panel-body">
			 
				<div class="panel">
			
					<canvas id="bar" class="chart chart-bar"  chart-data="day_data" chart-labels="day_labels" chart-series="day_series">
					</canvas>
				
			</div>  		
   </div>    
</div>
