    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  .panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
  .panel > .panel-body {
 
    background-color: white;

}
</style>
<div ng-hide="user.username">
You'll probably need to log in to be able to enter data
</div>
	  
<div ng-show="user.username" class="panel panel-default col-xs-5 col-sm-5 col-md-5">
<div class="panel-heading">Enter data</div>
	<div class="panel-body">
		<form name="visit_form" >

			  <div class="form-group">
				<label for="exampleSelect1">Museum  select</label>
				<select class="form-control input-lg" id="museum">
						<option value="BMAG">Bristol Museum</option>
						<option value="M-SHED">M Shed</option>
						<option value="GEORGIAN-HOUSE">The Georgian House Museum</option>
						<option value="RED-LODGE">The Red Lodge</option>				   
						<option value="BLAISE">Blaise</option>
						<!--   <option value="BRISTOL-ARCHIVES">Bristol Archives</option>-->
				</select>
			  </div>

				  <div class="form-group">
				<label for="comments">Date</label>
				<input type="date" class="form-control input-lg" id="date_value" rows="3"></input>
			  </div>

			  <div class="form-group">
				<label for="comments">Cash</label>
				<input  step="any" type="number" class="form-control input-lg" id="cash" rows="3"></input>
			  </div>
			  <div class="form-group">
				<label for="comments">Card / contactless</label>
				<input  step="any" type="number" class="form-control input-lg" id="card" rows="3"></input>
			  </div>
			    <div class="form-group">
				<label for="comments">No. of transactions</label>
				<input  step="any" type="number" class="form-control input-lg" id="no_transactions" rows="3"></input>
			  </div>
			   <div class="form-group">
				<label for="comments">No of gift aid envelopes</label>
				<input   type="number" class="form-control input-lg" id="no_giftaid_envelopes" rows="3"></input>
			  </div>
			    <div class="form-group">
				<label for="comments">Amount gift aided</label>
				<input  step="any" type="number" class="form-control input-lg" id="giftaid_amount" rows="3"></input>
			  </div>

			  <div class="form-group">
				<label for="comments">Comments</label>
				<textarea class="form-control input-lg" id="comments" rows="3"></textarea>
			  </div>
			   <button ng-click="onSubmit()" type="submit" class="input-lg btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
			   <button type="button" class="input-lg btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
		</form>
	</div>
</div>
  <script>
  $( function() {
   if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
    $( "#date_value" ).datepicker();
  } );
  </script>
