extends layout

block content

			script(src='https://api.trello.com/1/client.js?key=678582ba5f01c5833a7bcb673c8cffe9')
			script(src='shared/routes/app-routes.js')
			user-menu
			.view-container
				.page.pageClass(ng-click='screensaverOff()', autoscroll='true', class='{{ }}', ng-view='')
				
				
			
		
				