extends layout
block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
					
					div.signup-wall
						form(class='form-signin', action='/login', method='POST')
							input.form-control( type='text', name="username", placeholder='Enter Username')
							input.form-control(id="hashval" type='hidden', name="redirect")
							input.form-control(type='password', name="password", placeholder='Password')
							button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
							span.clearfix
								a.btn.btn-link(href='/forgot') Forgot Password?
					script.
						document.getElementById("hashval").value =location.hash.slice(1)
		