  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
 <style>
  .panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
  .panel > .panel-body {
 
    background-color: white;

}

input:-moz-read-only { /* For Firefox */
    background-color: #80808029;
}

input:read-only { 
    background-color: #80808029;
}

.radioinput_fx{
left: 20px;    top: -3px;
}



.add_box{
padding:20px;
z-index:1000;
width:500px;
height:200px;
    height: 200px;
    background-colo:white;
	posiition:relative;
}
</style>
<div ng-hide="user.username">
You'll probably need to log in to be able to enter data
</div>
	  
<div ng-show="user.username" class="panel panel-default col-xs-5 col-sm-5  col-md-5 ">
<div class="panel-heading">Enter data for {{form_name}}</div>
	<div class="panel-body">
		<form name="visit_form" id="visit_form">
			 <div class="form-group">
						<label for="comments">These figures are being logged against the following team:</label>
							  <input type="text"  class="form-control input-lg" id="team"  name="country" value="{{team}}"   ng-readonly="user.group!= 'ADMIN'" >
			</div>
       		
			<div class="form-group">
				
				<label for="comments"  >Start date:	</label>
						<input ng-model="start_date" ng-change="start_date_update(start_date)"  type = "date" class="form-control input-lg" id="date_value"  width="290px;"  required>
			
			</div>	
			<div class="form-group">
					<label for="comments">Date to: (this is the date against which the values are logged for reporting)	</label>
					<input  type = "date" class="form-control input-lg" id="date_value_end"     width="290px;" required>
					
			
			 
			</div>
		
<div class="form-group">

<div   class="col-xs-6">
				<label for="exampleSelect1">KPI Type</label>
				<select class="form-control input-lg" id="kpi_type" ng-model="kpiValue" ng-change="kpi_type_update(kpiValue)">
					<option value="Total sessions">sessions</option>
					<option value="partnership">partnership</option>
					<option value="partnership">project</option>
					<option value="event">event</option>
					
					<option ng-show="user.team=='PARTICIPATION' || user.group=='ADMIN'" value="Volunteer hours">Volunteer hours</option>
					
					<option ng-show="user.team=='MODERN RECORDS' || user.group=='ADMIN'" value="Items loaned out">Items loaned out</option>
					<option ng-show="user.team=='MODERN RECORD' || user.group=='ADMIN'" value="Items returned">Items returned</option>
					<option ng-show="user.team=='MODERN RECORDS' || user.group=='ADMIN'" value="Items destroyed">Items destroyed</option>
					<option ng-show="user.team=='MODERN RECORDS' || user.group=='ADMIN'" value="New deposits">New deposits</option>
								
					<option ng-show="user.team=='WORKING EXHIBITS' || user.group=='ADMIN'"" value="Train rides">Train rides</option>
					<option ng-show="user.team=='WORKING EXHIBITS' || user.group=='ADMIN'"" value="Crane rides">Crane rides</option>
					<option ng-show="user.team=='WORKING EXHIBITS' || user.group=='ADMIN'"" value="Boat rides">Boat rides</option>
					<option ng-show="user.team=='WORKING EXHIBITS' || user.group=='ADMIN'"" value="Other activities">Other activities</option>				
					
					
					
					<option ng-show="user.team=='FILM OFFICE' || user.group=='ADMIN'" value="unique web visits">unique web visits</option>
					<option ng-show="user.team=='FILM OFFICE' || user.group=='ADMIN'"" value="web visits">web visits</option>
					<option ng-show="user.team=='FILM OFFICE' || user.group=='ADMIN'"" value="target income">target income</option>
					<option ng-show="user.team=='FILM OFFICE' || user.group=='ADMIN'"" value="filming days">filming days</option>
					
					
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="New acquisitions on emu">New acquisitions on emu</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="New emu multimedia records">New emu multimedia records</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="New emu object records">New emu object records </option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="Emu records enriched">Emu records enriched</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="Emu records published online">Emu records published online</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="New conservation reports">New conservation reports</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="New loans on emu">New loans on emu</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="objects loaned out">objects loaned out</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="published communications">published communications</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="public facing activities">public facing activities</option>
					<option ng-show="user.team=='COLLECTIONS' || user.group=='ADMIN'"" value="objects used this month">objects used this month</option>

				
					
					<option value="other">other</option>
				
				</select required>
</div>
			  	<div class=" col-xs-6">
							<label class="pull-left">No. of {{selectedkpiValue}}s</label>
							<input type="number" class="form-control input-lg" id="no_sessions" name="no_sessions" value="1">
				</div>
					<br>
					</br>
			 	    <br>
					</br>

</div>
					
					<div class="form-group">
						<label for="comments">Name/ Description of {{selectedkpiValue}}</label>
					
					  <input type="text"  id="event_name"  name="event_name" required>
					</div>
					

			
				
					
	
						<div class="form-group">
							<div class="col-xs-6">
							<label>Number of people</label>
							<input type="number" class="form-control input-lg" id="no_visits" name="no_visits">
						  </div>
						  	</div> 
								<div class="form-group">
						  	<div class=" col-xs-6">
							<label>Number of enquiries</label>
							<input type="number" class="form-control input-lg" id="no_enquiries" name="no_enquiries">
						  </div>
					</div>
						<div class="form-group">
									<div class="col-xs-6">
										<label>Income</label>
										<input type="number" class="form-control input-lg" id="income" name="income">
										
									 </div>

						 </div>
				


			  <div class="form-group">
			  <div class="col-xs-6">
				<label for="comments">Comments</label>
				<textarea class="form-control input-lg" id="comments" rows="3"></textarea>
			  </div>
			  </div>
			   <button ng-click="onSubmit()" type="submit" class="input-lg btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
			   <button type="button" class="input-lg btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
		</form>
	</div>
</div>
</div>
  <script>
  $( function() {
   if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
    $( "#date_value" ).datepicker();
  } );
  </script>
