<style>

raw-events{

    position: absolute;
   // left: 20px;
	 width: 67%;


}

</style>

<record-kpievents ></record-kpievents>
<monthly-standardkpievents tableChanged="tableChanged" changed="changed" user="user" ng-hide="formData.monthWeek=='week'"></monthly-standardkpievents>
<monthly-kpievents   tableChanged="tableChanged" changed="changed" user="user"></monthly-kpievents>

<raw-kpieventsx   tableChanged="tableChanged"   changed="changed" user="user"></raw-kpieventsx>



