

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



<div id="timelineinfobox" class="modal fade" role="dialog">
   

   <div class="modal-dialog">
   

    <!-- Modal content-->
    <div class="modal-content">
	
		
	   <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="infobox_name" class="modal-title">{{name}}</h4>
		
      </div>


  
  <div class="modal-body" >
		
<dl class="row"  >
	<dt class="col-sm-3">Dates: </dt>
	<dd class="col-sm-9"  ng-show="!locked.add_item">{{ selected_start }} - {{ selected_end }} </dd>
	<dd class="col-sm-9"  ng-show="locked.add_item"> 
		<input  ng-disabled="!locked.add_item" date-range-picker options="dateRangeOptions" class="form-control date-picker"   type="text" ng-model="$root.datePicker.date" ng-model-options="{ debounce: 1000 }" />
	</dd> 

	<dt class="col-sm-3">Type:</dt>
	<dd class="col-sm-9"  >{{$root.selected_type}}</dd>

	<dt class="col-sm-3">Length:</dt>
	<dd class="col-sm-9">{{$root.selected_days}}</dd>

	<dt class="col-sm-3">Notes:</dt>
	<dd class="col-sm-9"  ng-show="!locked.add_item">{{$root.selected_notes}}</dd>
	<dd class="col-sm-9"  ng-show="locked.add_item"> 
		<textarea ng-disabled="!locked.add_item" type="text" lines="5" ng-data="{{selected_id}}" ng-model="$root.selected_notes" ng-model-options="{ debounce: 1000 }" ></textarea>
	</dd>
<dt class="col-sm-3">Activity: </dt> 

</dl> 
 
 <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="$root.selected_approved" value="$root.selected_approved"  >
    APPROVED
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="$root.selected_approved" value="$root.selected_approved">
   NOT APPROVED
  </label>
</div>
 
<div ng-show="!locked.add_item && track.selected" ng-repeat="track in installmodels track by $index" >
	 <dl class="row"  >  
	<dt  class="col-sm-3">{{track.name}}</dt>
	<dd class="col-sm-4">	
		<span title="{{track.name}}"  ng-class="{{track.selected}}  ? 'glyphicon glyphicon-{{track.icon}}' : 'glyphicon glyphicon glyphicon glyphicon-{{track.icon}}'" aria-hidden="true"></span>
	</dd>
		</dl>
</div>


	   <md-menu-item ng-repeat="track in installmodels" ng-show="locked.add_item">
          
		  <md-button ng-click="ctrl.redial($event)">
            <md-icon md-svg-icon="call:dialpad" md-menu-align-target=""></md-icon>
				<label class="switch">
		<div class="settings_locklabel" >{{track.name}}  <span title="{{track.name}}"  ng-class="{{track.selected}}  ? 'glyphicon glyphicon glyphicon glyphicon-{{track.icon}}' : 'glyphicon glyphicon glyphicon glyphicon-{{track.icon}}'" aria-hidden="true"></span></div>
		
			<input ng-disabled="!locked.add_item" 
					type="checkbox"
					name="selectedFruits[]"
					value="{{track.name}}"
					ng-model="track.selected"
					ng-click="toggleSelection(track)"
				  > 
				   <div class="slider round"></div>
			</label>
            
          </md-button>
		  
        </md-menu-item>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>