<monthly-sitepermissions 			 ng-hide="formData.monthWeek=='week'">					</monthly-sitepermissions>
<monthly-learning     session_type="INDEPENDENT" 	 ng-hide="formData.monthWeek=='week'"></monthly-learning>
<monthly-learning     session_type="FACILITATED"	 ng-hide="formData.monthWeek=='week'"></monthly-learning>

<monthly-events     event_type="ON SITE"	 ng-hide="formData.monthWeek=='week'"></monthly-events>
<monthly-events     event_type="OFF SITE"	 ng-hide="formData.monthWeek=='week'"></monthly-events>