
<div class="panel panel-default">
  <div class="panel-body">
  <h2>We have had <span id="visits-level" style="color: #6298BF; font-size: 40px;">0</span>  visits this year across all of our sites.</h2>
   <h2>This time last year we'd had <span id="lte_visits-level" style="color: #6298BF; font-size: 40px;">0</span>  visits.</h2>
    <h2 ng-show="plus==true"> This is a <span id="diff-level1" style="color: #62BF73; font-size: 40px;">0</span> % increase compared to this time last year!</h2>
	<h2 ng-show="plus==false"> This is a <span id="diff-level2" style="color: #rgb(162, 53, 63); font-size: 40px;">0</span> % increase compared to this time last year!</h2>
  </div>
</div>


