



<div  class="panel panel-default">
  <div class="panel-body">
   <iframe ng-show="user.group && user.group!='DEFAULT'"  width="100%" height="1000" src="https://datastudio.google.com/embed/reporting/100Nz6KIpX2EyXkKiA_TCc9-xGnP7usLR/page/2lbP" frameborder="0" style="border:0" allowfullscreen></iframe>
  <h2>We have had <span id="visits-level" style="color: #6298BF; font-size: 40px;">0</span>  visits since April this year across all of our sites.</h2>
   <h2>This time last year we'd had <span id="lte_visits-level" style="color: #6298BF; font-size: 40px;">0</span>  visits.</h2>
    <h2 ng-show="plus==true"> This is a <span id="diff-level1" style="color: #62BF73; font-size: 40px;">0</span> % increase compared to this time last year!</h2>
	<h2 ng-show="plus==false">We need <span id="diff-level2" style="color: #rgb(162, 53, 63); font-size: 40px;">0</span> more visits to match this time last year!</h2>
  <h2 >Our average visitor satisfaction is at <span id="satisfaction"  style="color: #62BF73; font-size: 40px;">0</span>%</h2>
  </div>
    <div class="panel-body">
  <h2>We have had <span id="filming-days" style="color: #6298BF; font-size: 40px;">0</span> filming days since last April.</h2>
   <h2>We have had <span id="objects-used" style="color: #6298BF; font-size: 40px;">0</span> objects used in exhibitions, research and conservation.</h2>
     <h2><span id="digitised-objects" style="color: #6298BF; font-size: 40px;">0</span> new objects have been digitised.</h2>
  </div>

 
</div>


