<table-filter				 		 >	</table-filter>
<monthly-visits 			end_date="end_date" start_date="start_date"  ng-hide="formData.monthWeek=='week'">					</monthly-visits>
<exhibitions-teg></exhibitions-teg>
<monthly-retailsales 		 ng-hide="formData.monthWeek=='week'">					</monthly-retailsales>
<monthly-donations 			 ng-hide="formData.monthWeek=='week'">					</monthly-donations>
<monthly-learning     session_type="INDEPENDENT" 	 ng-hide="formData.monthWeek=='week'"></monthly-learning>
<monthly-learning     session_type="FACILITATED"	 ng-hide="formData.monthWeek=='week'"></monthly-learning>

<monthly-events     event_type="ON SITE"	 ng-hide="formData.monthWeek=='week'"></monthly-events>
<monthly-events     event_type="OFF SITE"	 ng-hide="formData.monthWeek=='week'"></monthly-events>
'<team-standardkpievents  team="DIGITAL"  ></team-standardkpievents>'
'<team-standardkpievents  team="FILM OFFICE"  ></team-standardkpievents>'
'<team-standardkpievents  team="MODERN RECORDS"  ></team-standardkpievents>'
<monthly-venuehire     booking_type="INTERNAL" 	 ng-hide="formData.monthWeek=='week'"></monthly-venuehire>
<monthly-venuehire     booking_type="EXTERNAL"	 ng-hide="formData.monthWeek=='week'"></monthly-venuehire>