  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  .panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
  .panel > .panel-body {
 
    background-color: white;

}


</style>
	
<div  ng-show="user.username" class="panel panel-default col-xs-5 col-sm-5 col-md-5">
<div class="panel-heading">Enter data</div>
	<div class="panel-body">
		<form name="visit_form"  id="visit_form">

			  <div class="form-group">
				<label for="exampleSelect1">Museum  select</label>
				<select class="form-control input-lg" id="museum">
					<option value="BMAG">Bristol Museum </option>
					<option value="M-SHED">M Shed </option>
					<option value="GEORGIAN-HOUSE">The Georgian House Museum</option>
					<option value="RED-LODGE">The Red Lodge</option>
					<option value="BRISTOL-ARCHIVES">Bristol Archives</option>
					<option value="BLAISE">Blaise</option>
				</select>
			  </div>
			  	  <div class="form-group">
				<label for="exampleSelect1">Donation method</label>
				<select class="form-control input-lg" id="donation_box_no">
				  <option value="Cash">Cash</option>
				<!--  <option value="Contactless">Contactless</option>-->
				  <option value="BOX 1">BOX 1</option>
				  <option value="BOX 2">BOX 2</option>
				  <option value="BOX 3">BOX 3</option>
				  <option value="BOX 4">BOX 4</option>
				  <option value="BOX 5">BOX 5</option>
				  <option value="BOX 6">BOX 6</option>
				  <option value="BOX 7">BOX 7</option>
				  <option value="BOX 8">BOX 8</option>
				  <option value="Cash">Cash</option>
				  <option value="OTHER">Other</option>
				  
				</select>
			  </div>
			  <div class="form-group">
				<label for="comments">Date of donation</label>
				<input type = "date" class="form-control input-lg" id="date_value" rows="3"></input>
			  </div>
			  <div class="form-group">
				<label for="comments">Amount</label>
				<input  step="any" type = "number" class="form-control input-lg" id="donation_box_amount" rows="3"></input>
			  </div>
			
			 
			 

			  <div class="form-group">
				<label for="comments">Comments</label>
				<textarea class="form-control input-lg" id="comments" rows="3"></textarea>
			  </div>
			   <button id="form_submit_button" name="form_submit_button" ng-click="onSubmit()" type="button" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
			   <button type="button" class="btn btn-lg input-lg btn-default input-lg" ng-click="vm.options.resetModel()">Reset</button>
		</form>
	</div>
</div>

  <script>
  $( function() {
   if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
    $( "#date_value" ).datepicker();
  } );
  </script>