  <style>
  .panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
  .panel > .panel-body {
 
    background-color: white;

}
</style>
	  
	  <div class="panel panel-default col-xs-5 col-sm-5 col-md-5">
  <div class="panel-heading">Enter data</div>
<div class="panel-body">

<form name="visit_form" >

  <div class="form-group">
    <label for="exampleSelect1">Museum select</label>
    <select class="form-control" id="museum">
  <option value="BMAG">Bristol Museum</option>
		  <option value="M-SHED">M Shed</option>
		  <option value="GEORGIAN-HOUSE">The Georgian House Museum</option>
		  <option value="RED-LODGE">The Red Lodge</option>
		   <option value="BRISTOL-ARCHIVES">Bristol Archives</option>
    </select>
  </div>
  <div class="form-group">
    <label for="comments">Date of visits</label>
    <input type = "date" class="form-control" id="date_value" rows="3"></input>
  </div>
  <div class="form-group">
    <label for="comments">Number of visits</label>
    <input type = "number" class="form-control" id="no_visits" rows="3"></input>
  </div>
  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea class="form-control" id="comments" rows="3"></textarea>
  </div>


   <button ng-click="onSubmit()" type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
          <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
</form>


</div></div></div>