<div style="position:relative;" class="col-md-23 col-lg-2 col-sm-2 pull-left" id="pie-chart" >
          <div class="panel panel-default">
            <div class="panel-heading">{{pie_date}}</div>
            <div class="panel-body data">
           
			<canvas id="pie" class="chart-pie" 
			chart-colors="colors"
			chart-data="data"
		
			chart-labels="labels"
			chart-options="options"
                    ></canvas>

		   </div>
		   <option-select></option-select> 
          </div>
</div>
