<style>

   .filterdata {
   position:relative;
   padding: 11px;
    display: block;
    height: 70px;
	
    box-sizing: border-box;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0;
	}
	.btn{
	margin-bottom: 4px !important;
	}
</style>



<div  >
<div class="filterdata panel-default" >


				<label class="switch" ng-show="filter_x_button">  
				<input type="checkbox" ng-click="dynamic_filter('approved',_filter_x.result)" ng-model="_filter_x.result">
				  <span class="slider round"></span>
				</label>
		
			<label class="switch" ng-show="filter_y_button">
			 <input type="checkbox" ng-click="dynamic_filter('payment',_filter_y.result)" ng-model="_filter_y.result">
			  <span class="slider round"></span>
			</label>
		
			<label class="switch" ng-show="filter_z_button">
			 <input type="checkbox" ng-click="dynamic_filter('confirmed',_filter_z.result)" ng-model="_filter_z.result">
			  <span class="slider round"></span>
			</label>
			
			
			
	
		



	
	<form  class="form-inline">
  <div class="form-group">
   From:
   <input type="date" id="start" name="trip" ng-model="start" min="2015-01-01" />
  </div>
  <div class="form-group">
Until:
    <input type="date" id="end" name="end" ng-model="end" />
  </div>
  <div class="form-group">
   
    <input type="button" value="FILTER" ng-show="show_all_Button" ng-click="alldata('start')" class="btn btn-primary">
  </div>

</form>

	</div>		

	
	
</div>
</div>