<style>

   .filterdata {
   position:relative;
   padding: 11px;
    display: block;
    height: 70px;
	
    box-sizing: border-box;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0;
	}
	.btn{
	margin-bottom: 4px !important;
	}
</style>



<div  >
<div class="filterdata panel-default" >

<table>
	<tr>
		<td>
				<label class="switch" ng-show="filter_x_button">  
				<input type="checkbox" ng-click="dynamic_filter('approved',_filter_x.result)" ng-model="_filter_x.result">
				  <span class="slider round"></span>
				</label>
			</td>
		<td>
			<label class="switch" ng-show="filter_y_button">
			 <input type="checkbox" ng-click="dynamic_filter('payment',_filter_y.result)" ng-model="_filter_y.result">
			  <span class="slider round"></span>
			</label>
		</td>
		<td>	
			<label class="switch" ng-show="filter_z_button">
			 <input type="checkbox" ng-click="dynamic_filter('confirmed',_filter_z.result)" ng-model="_filter_z.result">
			  <span class="slider round"></span>
			</label>
		</td><td width="150px"><button class="btn" ng-show="show_all_Button" ng-click="alldata()">show all data</button> </td>
		<td width="150px"><button class="btn" ng-show="show_all_Button" ng-click="alldata('month')">show just this month</button> </td>
	</tr>
	<tr>
		<td width="100px"  ng-show="filter_x_button">approved </td>
		<td width="100px"  ng-show="filter_y_button">paid </td>
		<td width="100px" ng-show="filter_z_button" >confirmed </td>
		
	</tr>
</table>	
	
	
</div>
</div>