<div ng-show="user.firstName" ng-controller="NavController"  class="navbar" role="navigation">
Logged in as {{user.firstName}} Team: {{user.team}} <a class="btn btn-primary pull-right" href='/signout'  > Sign Out</a><a ng-hide="user.firstName" id="logihash" href='/login!'  >Log in</a>
</div>
<div  ng-hide="user.firstName" ng-controller="NavController"  class="navbar" role="navigation">
	<form action="/login" method="post" >
		<input type="text" name="username" placeholder="enter username">
		<input type="password" name="password" placeholder="password">
		<input type="hidden" id="hashval" name="redirect" value="">
		<button class="btn" type="submit" >login </button>
	</form>
	<a href="signup" class="btn btn-primary">
    Sign up
</a>
</div>



<script>
        document.getElementById("hashval").value =location.hash.slice(0).replace("#!/","")
</script>
