<ul class="nav navbar-nav">








	 <li><a class="login" ng-hide="user.firstName" id="logihash" href='/login!'  >Log in</a></li>	
	<input type="hidden" id="hashval" name="redirect" value="">
	<li  ng-hide="user.firstName"><a href="/signup">Register</a></li>
    <li ng-show="user.firstName" class="pull-right" ><a  href='/signout'  > Sign Out</a></li>	
	<li  ng-show="user.firstName" > 
	
	
	<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">Resources
	 <span class="caret"></span></button>
	 <ul class="dropdown-menu">
	 <li   ng-repeat="view in user.views  track by $index"  ><a href="/#{{view.link}}">{{view.value}}</a></li>



	</ul>
	
</li>


<li  ng-show="user.firstName" > 
	
	
	<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">View Data
	 <span class="caret"></span></button>
	 <ul class="dropdown-menu">

	<li   ><a href="/#master">Bristol Culture KPIs</a></li>
	 
	<li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Visits <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'VISITS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	 	<li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Retail <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'RETAIL'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 	 <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Site permissions <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'ARTS AND EVENTS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Fundraised income <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'DONATIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Operations <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'OPERATIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Learning <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'LEARNING'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	 
	   <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Exhibitions <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'EXHIBITIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	    <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'EVENTS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 	 <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Participation<span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'PARTICIPATION'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	    <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Venue Hire <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'VENUE HIRE'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Team KPIs <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.performance | filter:{ teamx:'TEAM'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	
	


	</ul>
	
</li>

	<li   ng-show="user.group!='DEFAULT' && user.firstName"> 
	<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">Record Data
	 <span class="caret"></span></button>
	 <ul class="dropdown-menu" style="floaf:left;">
	

	
	<li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Visits <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'VISITS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	 	<li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Retail <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'RETAIL'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 	 <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Site permissions <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'ARTS AND EVENTS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Fundraised income <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'DONATIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Operations <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'OPERATIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Learning <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'LEARNING'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	 
	   <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Exhibitions <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'EXHIBITIONS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	    <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'EVENTS'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	     <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Venue Hire <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'VENUE HIRE'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	 
	 
	  <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Team KPIs <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li   ng-repeat="view in user.enter_data | filter:{ teamx:'TEAM'} track by $index "  ><a href="/#{{view.link}}">{{view.value}}</a></li>
         </ul>
     </li>
	
	</ul>
	
</li>
	<li  ng-show=false > 
	<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">Bookings
	 <span class="caret"></span></button>
	 <ul class="dropdown-menu" style="floaf:left;">
	<li   ng-repeat="view in user.resources track by $index"  ><a href="/#{{view.link}}">{{view.value}}</a></li>

	</ul>
	 <ul class="dropdown-menu" style="floaf:left;">
	<li   ng-repeat="view in user.resources track by $index"  ><a href="/#{{view.link}}">{{view.value}}</a></li>

	</ul>
</li>

<li  ng-show=false > 
	<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">Signage
	 <span class="caret"></span></button>
	 <ul class="dropdown-menu" style="float:left;">
	<li   ng-repeat="view in user.signage track by $index"  ><a href="/#{{view.link}}">{{view.value}}</a></li>

	</ul>
	 <ul class="dropdown-menu" style="floaf=t:left;">
	<li   ng-repeat="view in user.signage track by $index"  ><a href="/#{{view.link}}">{{view.value}}</a></li>

	</ul>
</li>
	<li ng-show="user.firstName" ng-controller="NavController"   role="navigation" class="pull-right">
	<h6>Logged in as {{user.firstName}}</h6> <h6 ng-show="user.team">group: {{user.group}} </h6>
	</li>
</ul>
<script>
if( document.getElementById("logihash")){
	  document.getElementById("logihash").href ='/login!'+location.hash.slice(0).replace("#!/","")
	
	}  
	 
$(document).ready(function(){
  var lastOpen

  $('.dropdown-submenu a.test').on("click", function(e){
  if(lastOpen){
	lastOpen.next('ul').toggle();
  }
 

   $(this).next('ul').toggle();
    
	lastOpen=$(this)
   
   e.stopPropagation();
    e.preventDefault();
  });
});

</script>
